{% extends 'base.html' %}
{% load static %}

{% block navbar%}
<div class="container" id="navigation">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" aria-current="page" href="{% url 'index' %}">Inicio</a>
                    </li>
                    {% if user.is_authenticated %}                    
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="{% url 'update_usuario' %}">Ver Inmuebles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="">Ver Solicitudes</a>
                    </li>
                    {% endif %}
                </ul>
                
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Cerrar Sesión</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a type="button" class="nav-link btn btn-primary" href="{% url 'registro_usuario' %}">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    {% endif %}
                </ul>
                
            </div>
        </div>
    </nav>
</div>
{% endblock %}

{% block 'content' %}
<section>
    <div class="container py-3 px-3">
        <h2 class="text-center mb-3">Inmuebles</h2>
        <div class="row gx-3 gy-3">
            {%for inmueble in inmuebles%}
            <div class="col-12 col-md-6 col-lg-4">                
                <div class="card mx-auto">
                    <img src="{{inmueble.image_url}}" class="card-img-top" alt="Casa ">
                    <div class="card-body">
                        <h5 class="card-title">{{inmueble.nombre}}</h5>
                        <hr>
                        <p class="card-text">{{inmueble.descripcion}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fs-3">$ {{inmueble.arriendo_mensual}}.-</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'solicitud' inmueble.id %}" class="card-link btn btn-primary">Arrendar</a>
                    </div>
                </div>            
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock  %}
